<div class="mb-3">
  <div
    [ngClass]="moveInfoOpen ? 'move-section-open' : 'move-section transition-all duration-300'"
    [style.background-color]="hexToRgba(move()?.type?.bgColor, 0.1)"
    [style.border-color]="move()?.type?.textColor"
    (click)="toogleMoveInfo()"
  >
    <div class="move-row mb-2">
      <div class="move-name">{{ move()?.name }}</div>
      <div class="move-right">
        @if (move()?.dice) {
          <img
            [src]="'icons/effects/' + move()?.dice + '.png'"
            [alt]="'dice {{move()?.dice}}'"
            class="max-h-[20px]"
          />
        }
        <div class="move-value">
          @if (
            move()?.has_stab &&
            (pkmType1()?.id == move()?.type?.id || pkmType2()?.id == move()?.type?.id)
          ) {
            {{ move()?.stab }}
          } @else {
            {{ move()?.value }}
          }
        </div>
      </div>
    </div>

    <div class="move-row">
      <app-pokemon-type [type]="move()?.type"></app-pokemon-type>
      <div class="flex items-center justify-center">
        @if ((move()?.effects || []).length > 0) {
          @for (effect of move()?.effects || []; track trackByEffect($index, effect)) {
            <img
              [src]="'icons/effects/' + effect.name + '.png'"
              [alt]="'move effect'"
              class="max-h-[20px]"
            />
          }
        } @else {
          <span class="text-white">-</span>
        }
      </div>
    </div>
    @if(!moveInfoOpen){<div class="icon-detail"><i class="fa-solid fa-angle-down"></i></div>}
  </div>
  @if (moveInfoOpen) {
    <app-pokemon-move-detail
      [move]="move()"
      animate.enter="accordion-open"
      animate.leave="accordion-close"
    ></app-pokemon-move-detail>
  }
</div>
