.move-section {
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px;
}

.move-section-open {
  border: solid 1px black;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}

.move-row {
  display: flex;
  justify-content: space-between;
}

.move-name {
  color: white;
  text-transform: capitalize;
}

.move-value {
  font-weight: 600;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.move-right {
  display: flex;
}

.move-value {
  color: yellow;
  padding-left: 8px;
  padding-right: 8px;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.accordion-open {
  animation: accordionOpen 300ms ease-out forwards;
}

.accordion-close {
  animation: accordionClose 300ms ease-in forwards;
}

@keyframes accordionOpen {
  from {
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 500px;
    opacity: 1;
  }
}

@keyframes accordionClose {
  from {
    max-height: 500px;
    opacity: 1;
  }

  to {
    max-height: 0;
    opacity: 0;
  }
}
