<div class="screen">
  <div class="content">
    <div class="header">
      <div class="menu">
        <button (click)="goBack()"><i class="fa-solid fa-angle-left shadow-text"></i></button>
        <div class="text-[#E0E0E0] text-[20px] font-semibold">#{{ pokemon?.number }}</div>
        <button><i class="fa-solid fa-bars shadow-text"></i></button>
      </div>

      <div class="navigation flex justify-center">
        <div class="navigation-button shadow-text" (click)="goBefore(pokemon?.id)">
          <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="relative flex justify-center items-center">
          <!-- Alone -->
          <div
            class="absolute w-full h-full rounded-full blur-[60px] opacity-80"
            [style.backgroundColor]="pokemon?.types?.[0]?.bgColor"
          ></div>
          <img class="relative z-10 w-52 pkm-image" [attr.src]="imageSrc" [alt]="pokemon?.name" />
        </div>
        <div class="navigation-button text-right shadow-text" (click)="goAfter(pokemon?.id)">
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
    </div>
    <div class="pkm-name">{{ pokemon?.name }}</div>
    <div class="flex items-center justify-center">
      @for (type of pokemon?.types; track trackByType($index, type.id)) {
        <app-pokemon-type [type]="type" class="pokemon-type"></app-pokemon-type>
      }
    </div>

    <div class="card">
      <div class="card-content" [style.border-color]="pokemon?.types?.[0]?.color">
        <div class="tabs flex gap-4" [style.--text-color]="pokemon?.types?.[0]?.color">
          @for (tab of tabs; track trackByTab($index, tab)) {
            <button class="tab-button" [class.active]="activeTab === tab" (click)="activeTab = tab">
              {{ tab }}
            </button>
          }
        </div>

        <div class="tab-content">
          @switch (activeTab) {
            @case ('About') {
              <div
                class="grid grid-cols-[150px_1fr] gap-3"
                [style.--text-color]="pokemon?.types?.[0]?.textColor"
              >
                <div class="detail-label">Rank</div>
                <app-pokemon-rank [rank]="pokemon?.rank"></app-pokemon-rank>

                <div class="detail-label">Level</div>
                <div class="detail-value">{{ pokemon?.level }}</div>

                <div class="detail-label">Catch Value</div>
                <div class="detail-value">{{ pokemon?.catch }}+</div>

                <div class="detail-label">Evolution Level</div>
                <div class="detail-value">
                  @if (
                    pokemon != undefined && pokemon.evolveLevel != null && pokemon.evolveLevel != 0
                  ) {
                    {{ pokemon.evolveLevel }}
                  } @else {
                    <span>-</span>
                  }
                </div>
              </div>
              <div class="grid grid-cols-[150px_1fr] gap-3 abilities-grid">
                <div class="detail-label">Abilites</div>
                <div class="detail-value detail-ability capitalize">
                  @if (pokemon != undefined && pokemon.abilities.length > 0) {
                    @for (ability of pokemon.abilities; track trackByAbility($index, ability.id)) {
                      <app-pokemon-ability [ability]="ability"></app-pokemon-ability>
                    }
                  } @else {
                    <span>-</span>
                  }
                </div>
              </div>
              <div class="grid grid-cols-[150px_50px_minmax(0,1fr)] gap-3 effectiveness-grid">
                <div class="detail-label">Weakness</div>
                <div class="text-red-400 text-sm">(+2)</div>
                <div class="detail-value detail-ability capitalize gap-2 min-w-0">
                  @if (this.weakness.length > 0) {
                    @for (type of this.weakness; track trackByType($index, type.id)) {
                      <app-pokemon-type-round [type]="type"></app-pokemon-type-round>
                    }
                  } @else {
                    <span>-</span>
                  }
                </div>
                <div class="detail-label">Double Weakness</div>
                <div class="text-red-400 text-sm">(+3)</div>
                <div class="detail-value detail-ability capitalize">
                  @if (this.doubleWeakness.length > 0) {
                    @for (type of this.doubleWeakness; track trackByType($index, type.id)) {
                      <app-pokemon-type-round [type]="type"></app-pokemon-type-round>
                    }
                  } @else {
                    <span>-</span>
                  }
                </div>
                <div class="detail-label">Resistence</div>
                <div class="text-green-400 text-sm">(-2)</div>
                <div class="detail-value detail-ability capitalize">
                  @if (this.resistence.length > 0) {
                    @for (type of this.resistence; track trackByType($index, type.id)) {
                      <app-pokemon-type-round [type]="type"></app-pokemon-type-round>
                    }
                  } @else {
                    <span>-</span>
                  }
                </div>
                <div class="detail-label">Double Resistence</div>
                <div class="text-green-400 text-sm">(-3)</div>
                <div class="detail-value detail-ability capitalize">
                  @if (this.doubleResistence.length > 0) {
                    @for (type of this.doubleResistence; track trackByType($index, type.id)) {
                      <app-pokemon-type-round [type]="type"></app-pokemon-type-round>
                    }
                  } @else {
                    <span>-</span>
                  }
                </div>
                <div class="detail-label">Immunities</div>
                <div class="text-green-400 text-sm">(-3)</div>
                <div class="detail-value detail-ability capitalize">
                  @if (this.immunities.length > 0) {
                    @for (type of this.immunities; track trackByType($index, type.id)) {
                      <app-pokemon-type-round [type]="type"></app-pokemon-type-round>
                    }
                  } @else {
                    <span>-</span>
                  }
                </div>
              </div>
            }

            @case ('Moves') {
              @if (pokemon != undefined && pokemon.moves.length > 0) {
                @for (move of pokemon.moves; track trackByMove($index, move)) {
                  <app-pokemon-move
                    [move]="move"
                    [pkmType1]="pokemon.types[0]"
                    [pkmType2]="pokemon.types[1]"
                  ></app-pokemon-move>
                }
              } @else {
                <div class="text-center">-</div>
              }
            }

            @case ('Evolutions') {
              <div class="text-center">-</div>
            }
          }
        </div>
      </div>
    </div>
  </div>
</div>
