.screen {
  background-color: #121212;
}
.content {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.header {
  position: relative;
  color: white;
  padding: 27px 27px 0px 27px;
  z-index: 1;
}
.menu,
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  font-size: 20px;
}
.top {
  margin-top: 10px;
}
.top-name,
.top-number {
  font-size: 18px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.top-name {
  font-size: 22px;
}
.bg-image {
  position: absolute;
  left: 40%;
  top: 100px;
  width: 220px;
  opacity: 0.2;
  z-index: 0;
}
.pkm-image {
  width: 220px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  height: 260px;
  align-items: center;
  margin: 20px 0;
}
.navigation-button {
  width: 60px;
  font-size: 20px;
}

.card {
  position: relative;
  padding: 10px 24px 24px;
  z-index: 0;
  flex: 1;
}

.card-content {
  max-width: 350px;
  margin: auto;
}

.pokemon-type {
  padding-right: 5px;
}

// TABS
.tabs {
  margin: 20px 0px;
  //border-bottom: 1px solid #e5e5e5;
}

.tab-button {
  flex: 1;
  padding: 5px 8px;
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: white;
  position: relative;
}

.tab-button.active {
  border-color: var(--text-color);
}



.tab-content {
  padding-top: 10px;
}

.detail-label {
  font-size: 14px;
  color: #BDBDBD;
}

.detail-value {
  font-size: 14px;
  font-weight: 600;
  color: #eee;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tbody {
  padding-top: 10px;
}

.bar {
  height: 10px;
  background: #eee;
  border-radius: 999px;
  align-self: center;
}
.fill {
  height: 100%;
  background: var(--text-color);
  border-radius: 999px;
}

.abilities-grid {
  margin-top: calc(var(--spacing) * 3);
}

.detail-ability {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.shadow-text {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
}

.pkm-name {
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 6px;
}

.effectiveness-grid {
  border-top: solid 1px white;
  padding-top: 25px;
  margin-top: 20px;
}