.type-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  font-size: 11px;
  color: white;
  height: 26px;
  padding-left: 1px;
  padding-right: 1px;
}

.type-image {
  width: 22px;
}
