<div class="app">
  <div class="container h-screen flex flex-col">
    <div class="header">
      <img class="header-icon" src="/images/miscellaneous/bg-pokeball.png" />
      <div class="title">
        <div>Pokémon Master Trainer</div>
        <div>Ultimate Edition</div>
      </div>
    </div>
    <div class="home">
      <div class="menu-grid">
        <button class="card pokedex" (click)="openPokedex()">
          <span class="text-left ml-10">Pokedex</span>
        </button>

        <button class="card leaders">
          <span class="text-left ml-10">Gym<th>Leaders</span>
        </button>

        <button class="card team">
          <span class="text-left ml-10">Team</span>
        </button>

        <button class="card stadium">
          <span class="text-left ml-10">Stadium</span>
        </button>
      </div>
    </div>
  </div>
</div>
