<div
  class="move-detail"
  [style.background-color]="hexToRgba(move()?.type?.bgColor, 0.3)"
  [style.border-color]="move()?.type?.textColor"
>
  <div class="move-detail-section border-b" [style.border-color]="move()?.type?.textColor">
    <div class="flex">
      <div class="move-detail-title">
        <span class="move-detail-value">(+2)</span>Super-effective
      </div>
    </div>
    @if ((move()?.type_strong || []).length > 0) {
      <div class="flex flex-wrap gap-1">
        @for (moveType of move()?.type_strong; track trackByType($index, moveType)) {
          <app-pokemon-type [type]="moveType"></app-pokemon-type>
        }
      </div>
    } @else {
      -
    }
  </div>

  <div class="move-detail-section border-b" [style.border-color]="move()?.type?.textColor">
    <div class="flex">
      <div class="move-detail-title"><span class="move-detail-value">(-2)</span>Resistances</div>
    </div>
    @if ((move()?.type_resist || []).length > 0) {
      <div class="flex flex-wrap gap-1">
        @for (moveType of move()?.type_resist; track trackByType($index, moveType)) {
          <app-pokemon-type [type]="moveType"></app-pokemon-type>
        }
      </div>
    } @else {
      -
    }
  </div>

  <div class="move-detail-section border-b" [style.border-color]="move()?.type?.textColor">
    <div class="flex">
      <div class="move-detail-title"><span class="move-detail-value">(-3)</span>Immunity</div>
    </div>
    @if ((move()?.type_immune || []).length > 0) {
      <div class="flex flex-wrap gap-1">
        @for (moveType of move()?.type_immune; track trackByType($index, moveType)) {
          <app-pokemon-type [type]="moveType"></app-pokemon-type>
        }
      </div>
    } @else {
      -
    }
  </div>
  <div class="move-detail-section">
    <div class="flex">
      <div class="move-detail-title">Effects</div>
    </div>
    @if ((move()?.effects || []).length > 0) {
      <div class="grid grid-cols-[25px_1fr] gap-x-1 gap-y-2">
        @for (moveEffect of move()?.effects; track trackByEffect($index, moveEffect)) {
          <div>
            <img
              [src]="'icons/effects/' + moveEffect.name + '.png'"
              [alt]="'move effect'"
              class="max-h-[20px]"
            />
          </div>
          <div class="effect-description">
            @if (moveEffect?.desc) {
              {{ moveEffect?.desc }}
            } @else {
              -
            }
          </div>
        }
      </div>
    } @else {
      -
    }
  </div>
</div>
