.move-detail {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 2px;
  color: white;
  font-size: 14px;
}

.move-detail-title {
  color: white;
  border-radius: 5px;
  margin-bottom: 8px;
}

.move-detail-value {
  color: yellow;
  padding-left: 5px;
}

.move-detail-section {
  padding: 10px;
  //border-bottom: 1px solid;
}
