<div
  class="move-detail"
  [style.background-color]="hexToRgba(move()?.type?.bgColor, 0.1)"
  [style.border-color]="move()?.type?.textColor"
>
  <div class="move-detail-section" [style.border-color]="move()?.type?.textColor">
    <div class="grid grid-cols-[120px_50px_minmax(0,1fr)] gap-3 effectiveness-grid">
      <div class="detail-label">Super-effective</div>
      <div class="move-detail-value text-sm">(+2)</div>
      <div class="detail-value detail-ability capitalize gap-2 min-w-0">
        @if ((move()?.type_strong || []).length > 0) {
          @for (moveType of move()?.type_strong; track trackByType($index, moveType)) {
            <app-pokemon-type-round [type]="moveType"></app-pokemon-type-round>
          }
        } @else {
          <span>-</span>
        }
      </div>
      <div class="detail-label">Resistance</div>
      <div class="text-red-400 text-sm">(-2)</div>
      <div class="detail-value detail-ability capitalize gap-2 min-w-0">
        @if ((move()?.type_resist || []).length > 0) {
          @for (moveType of move()?.type_resist; track trackByType($index, moveType)) {
            <app-pokemon-type-round [type]="moveType"></app-pokemon-type-round>
          }
        } @else {
          <span>-</span>
        }
      </div>
      <div class="detail-label">Immunity</div>
      <div class="text-red-400 text-sm">(-3)</div>
      <div class="detail-value detail-ability capitalize gap-2 min-w-0">
        @if ((move()?.type_immune || []).length > 0) {
          @for (moveType of move()?.type_immune; track trackByType($index, moveType)) {
            <app-pokemon-type-round [type]="moveType"></app-pokemon-type-round>
          }
        } @else {
          <span>-</span>
        }
      </div>
    </div>
  </div>

  <div class="move-detail-section" [style.border-color]="move()?.type?.textColor">
    <div class="flex">
      <div class="pb-2">Effects</div>
    </div>
    @if (((move()?.effects || []).length > 0) || ((move()?.dice || []).length > 0)) {
      <div class="grid grid-cols-[35px_1fr] gap-x-1 gap-y-3">
        @if (move()?.dice == '{d4}' || move()?.dice == '{d8}' || move()?.dice == '{d4 3}'){
          <div class="flex">
            <img
              [src]="'icons/effects/' + move()?.dice + '.png'"
              [alt]="'move dice'"
              class="max-h-[20px]"
            />
          </div>
          <div class="effect-description">
            @if (move()?.dice == '{d4}') {
              User must roll 4-sided die for their attack roll.
            } 
            @if (move()?.dice == '{d4 3}') {
              Roll equal or higher to 3. User must roll 4-sided die for their attack roll.
            }
            @if (move()?.dice == '{d8}') {
              User must roll 8-sided die for the attack roll (treating 7 as a 5 and 8 as a 6).
            }
          </div>
        }
        @for (moveEffect of move()?.effects; track trackByEffect($index, moveEffect)) {
          <div class="flex">
            <img
              [src]="'icons/effects/' + moveEffect.name + '.png'"
              [alt]="'move effect'"
              class="max-h-[20px]"
            />
          </div>
          <div class="effect-description">
            @if (moveEffect?.desc) {
              {{ moveEffect?.desc }}
            } @else {
              -
            }
          </div>
        }
      </div>
    } @else {
      -
    }
  </div>
</div>
